<link rel="stylesheet" href="/css/defualt.css">
<script src="/js/jquery-3.6.0.js"></script>
<header>
    <div class="header-top">
        <div class="links">
            <a href="#">로그인</a>
            <a href="#">회원가입</a>
            <a href="#">공지사항</a>
        </div>
        <div class="logo">
            <a href="#">
                <img src="/image/logo1.jpg" alt="Logo">
            </a>
        </div>
        <nav class="header-menu">
            <ul class="menu">
                <li><a href="#">메뉴1</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴3</a></li>
                <li><a href="#">메뉴4</a></li>
                <li><a href="#">메뉴5</a></li>
                <li><a href="#">메뉴6</a></li>
            </ul>
        </nav>
    </div>
</header>
